/* body{
    color: red !important
}*/
h1{
    margin-top: 10px;
}
.htmx-indicator{
    display: none;
}
.htmx-request .htmx-indicator {
    display: inline;
}
.htmk-inverted-indicator {
    display: inline;
}
.htmx-request .htmx-inverted-indicator {
    display: none;
}